<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="static/style.css">
  <title>Burritos</title>
</head>
<body>
  <h1>Welcome to the best digital burrito you can eat!</h1>
  <br>

  <h2>Please enter your valid information:</h2>
  <form>
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname"><br><br>
  </form>

  <form>
    <label for="pwd">Password:</label>
    <input type="password" id="pwd" name="pwd">
  </form>

  <h2>Please select your tortilla:</h2>
  <form>
    <input type="radio" id="white" name="tortilla_choice" value="white flour">
    <label for="white">white flour</label><br>
    <input type="radio" id="wheat" name="tortilla_choice" value="wheat flour">
    <label for="wheat">wheat flour</label><br>
    <input type="radio" id="spinach" name="tortilla_choice" value="spinach">
    <label for="spinach">spinach</label><br>
    <input type="radio" id="corn" name="tortilla_choice" value="corn">
    <label for="white">corn</label><br>

  </form>

  <h2>Please select your rice:</h2>
  <form>
    <input type="radio" id="white" name="rice_choice" value="white rice">
    <label for="white">white rice</label><br>
    <input type="radio" id="brown" name="rice_choice" value="brown rice">
    <label for="brown">brown rice</label><br>
  </form>

  <h2>Please select your beans:</h2>
  <form>
    <input type="radio" id="black" name="bean_choice" value="black beans">
    <label for="black">black beans</label><br>
    <input type="radio" id="pinto" name="bean_choice" value="pinto beans">
    <label for="pinto">pinto beans</label><br>
  </form>

  <h2>Please select your protien:</h2>
  <form>
    <input type="radio" id="carnitas" name="protien_choice" value="carnitas">
    <label for="carnitas">carnitas</label><br>
    <input type="radio" id="chicken" name="protien_choice" value="chicken">
    <label for="chicken">chicken</label><br>
    <input type="radio" id="sofritas" name="protien_choice" value="sofritas">
    <label for="sofritas">sofritas</label><br>
    <input type="radio" id="none" name="protien_choice" value="none">
    <label for="none">none</label><br>
  </form>

  <h2>Select any additional toppings you would like:</h2>
  <form>
    <input type="checkbox" id="cheese" name="cheese" value="cheese">
    <label for="cheese">cheese</label><br>
    <input type="checkbox" id="sour_cream" name="sour cream" value="sour cream">
    <label for="sour_cream">sour cream</label><br>
  </form>

  <h2>Please enter any specific delivery instructions:</h2>
  <form>
    <label for="delivery">delivery instructions:</label><br>
    <textarea id="delivery" name="delivery" rows="5" cols="25"></textarea>
  </form>

  <br>
  <form action="" method="post">
    <button type="submit">submit</button>
  <form method="post" action="https://webhook.site/7e0b0579-787a-4f17-8254-02ee890fed01"></form>
</body>
</html>