<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="breweries.css">
    <title>Breweries</title>
</head>

<body>
    <header class="header1">Welcome to the Breweries API!</header>
<img class="backgroundimage" src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Beer_vats_at_Budweiser_brewery.jpg" alt="">

    <p class="explanation">Please make a selection below to find brewires near you! You can search by city,
        name of the brewery, or type of brewery you wish to find. 
    </p>
    <div class="app" name="app" id="app">

        <!-- {{ info }} -->


        <input type="text" v-model="user_input" name="user_input" id="user_input">
        <select name="attributes">
            <option id="select_attribute" value="by_city" id="City">City</option>
            <option id="select_attribute" value="by_name" id="Name">Name</option>
            <option id="select_attribute" value="by_type" id="Type">Type of Brewery</option>
        </select> <label for="attributes">Please make a selection from the list here</label>
        <button @click="submit">Submit</button>




        <ul >
            <li class="list" v-for="item in info" >{{item.name}}, a {{item.brewery_type}} brewery, <br>{{item.phone}}, website: {{item.website_url}} </li>


        </ul>
      </div>
      <div id="results"></div>


    <script src="https://unpkg.com/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="app.js"></script>
</body>
</html>