<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeDex</title>
    {% comment %} <link rel="stylesheet" href="code/chris/Django/Lab_5/pokedex-main/static/main.css" /> {% endcomment %}
</head>
<body> 
    <div id="pokeapp">
        {% if user.is_authenticated %}
        <h1>Welcome {{ user.username }}!</h1>
            <ul>
                <li v-for="p in pokemon">
                    <h4>Pokemon Name: [[ p.name ]]</h4>
                    <p><img :src=[[p.image_front]]> <img :src=[[p.image_back]]></p>
                    <p>Pokemon Height: [[ p.height ]] - Pokemon Weight: [[ p.weight ]]</p>
                    <button @click="editPokemon">Edit</button>
                </li>
            </ul>
        <p><a href="{% url 'logout' %}">Logout</a><p>
        {% else %}
        <h1>Welcome, Poke Friend!</h1>
        <p>You are not logged in. <a href="{% url 'login' %}">Login</a> <a href="{% url 'users:signup' %}">Sign Up</a></p>
        {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script>
        const vue = new Vue({
            el: "#pokeapp",
            delimiters: ["[[", "]]"],
            data: {
                pokemon: [],
            },
            methods: {
                savePokemon: function(payload) {
                    console.log(payload)
                }
            },
            beforeMount: function () {
                axios({
                    url: "http://localhost:8000/api/pokemon/",
                    method: "GET",
                }).then((response) => {
                    console.log(response.data);
                    this.pokemon = response.data;
                });
            },
        });
    </script>
</body>
</html>