html {
    box-sizing: border-box;
  
}
*, *:before, *:after {
    box-sizing: inherit;
}

.quote {
    text-align:center;
}


body {
    background-color: #AEC0A0;
}
.imgMain{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30%;

}

.main-title {
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    color:#6AAD51;
    text-align: center;
    text-decoration: underline;


}

.cool-paragraph {
    background-color: #4C7049;
    color: #D9EBD5;
    text-align: justify;
    padding: 32px;
    margin: 32px;
    border: 5px solid #D9EBD5;
    width: 90%;
    font-family: sans-serif;
    font-size: 20px;


}

ul{
    color: "#ffffff";

}