{% load static %}

<link rel="stylesheet" href="{% static 'grocery/style.css'%}">

<h3>The Incomplete List</h3>
<ul>
    {% for item in incomplete %}
        <li>{{ item.description }}: {{ item.created_date }}</li>
    {% endfor %}
</ul><br>

<h3>Add an Item to the List</h3>
<form action="{% url 'grocery:add' %}" method="post">
    {% csrf_token %}
    {{form.description}} 
    {% comment %} <input type="text" name="item" value="{{form.id}}">
    <label for="item"></label><br>
    <br> {% endcomment %}
    <input type="submit" value="Add Item"><br>
</form>

<br>
<h3>The Completed List</h3>
<ul>
    {% for item in complete %}
        <li>{{ item.description }}: {{ item.completed_date }}</li>
    {% endfor %}
</ul><br>

