<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>URL Shortener</title>
  </head>
  <body>
	<h1>URL Shortener</h1>
    <form action="{% url 'url_app:shorten_url' %}" method='post'>
        {% csrf_token %}
        <label for="shorten_url">URL Here</label>
        <input type="text" name="shorten_url">
        <input type="submit" value="submit">
    </form>
    {% for url in all_urls%}
    <p>{{ url }}</p>
    <p>{{ short_url }}</p>
    {% endfor %}
  </body>
</html>