html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    margin: 1em;
}

header{
    text-align: center;
    background-color: darkslategray;
    color: azure;
}