body {
    text-align: center;
    font-family: Tahoma, sans-serif;
    color: #355C7D;
}

body div {
    margin-bottom: 15px;
}

header {
    background: white;
    color:#355C7D;
    padding: 10px;
}



h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px;
}

p {
    margin:0px;
}

footer {
    background-color: #355C7D;
    color: white;
    padding: 20px;
}

.main img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
}

.sale-bar {
    margin: 0px;
    padding: 10px;
    background: #F67280
}

.sale-bar-main {
    font-style: italic;
    color: white
}

.sale-bar-caption {
    font-size: 10px;
    color: #F8B195;
}

.mission {
    text-align: center;
    padding: 5px
}

.mission h3 {
    font-style: italic;
}

@media (min-width: 670px) {
    .nav {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 500px;
        margin: auto;
    }

    .mission {
        margin: auto;
        max-width: 600px;
        margin-bottom: 15px;
    }

    .flex-gallery {
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
        justify-content: space-evenly;
    }

    .flex-gallery div {
        margin: 10px;
        width: 40%
    }
}

@media (min-width: 1000px) {
    .flex-gallery div {
        margin: 10px;
        max-width: 30%
    }

}

/* 
#F8B195
#F67280
#C06C84
#6C5B7B
#355C7D
*/