<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chirp!</title>
</head>
<body>
    <h1>Welcome to Chirp!</h1>
    <form action="{% url 'posts:add' %}" method="post">
        {% csrf_token %}
        <input type="text" name="post_title" id="post_title" placeholder="Post Title:">
        <input type="textarea" name="post_body" id="post_body" placeholder="Post Body:">
        <input type="submit" value="Chirp!">
    </form>
</body>
</html>