html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
p {
    color: rosybrown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
button {
    color: rosybrown;
}