{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter</title>
    <link rel="stylesheet" href="{% static 'posts.css' %}">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" />
</head>

<body>
    <div class="topnav">
        {% if user.is_authenticated %}

        <span>Hello {{ user.username }}</span><br> 
        <span>{{user.email}}</span> 
        <a href="{% url 'posts_app:new' %}">Chirp</a>
        
        {% else %}
        
        <a href="{% url 'users_app:login'%}">Login</a>
        <a href="{% url 'users_app:signup'%}">Signup</a>

        {% endif %}
    </div>
    <header>
        {% comment %} <img src="https://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c53e.png" alt="twitter-logo">    {% endcomment %}
        <img src="https://pngimg.com/uploads/twitter/twitter_PNG35.png" alt="twitterlogo-pink">    
    </header>
    <main>
        {% comment %} <a href="{% url 'posts_app:new' %}">create a new post</a> {% endcomment %}
        {% comment %} Hello {{user.username}}<br> {% endcomment %}
        {% comment %} {{user.email}} {% endcomment %}
        <h1> Twitter </h1>
        {% for post in posts %}
        <br>
        {{post.user}}<br>
        {{post}}<br>
        {{post.post_created_on}}<br>
    {% comment %} <div class="post-entry"></div> {% endcomment %}
        {% endfor %}          
    </main>
    <footer>
    </footer>
    {% block content%}
    {% endblock content %}
</body>

</html>




