/* font-family: 'Barlow', sans-serif;
font-family: 'Itim', cursive; */

html{
    box-sizing: border-box;
    margin: 1em;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.sidebar {
    height: 100%;
    width: 150px;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 40px;
    background-color: lightblue
}
.sidebar div {
    padding: 8px;
    font-size: 24px;
    display:block;
}
.body-text {
    margin-left: 150px;
    
}
nav {
    text-align: right;
}
body {
    background-color: #333;
    color: whitesmoke;
    font-family: 'Barlow', sans-serif
}

header {
    display: block;
    background-color: rgba(0, 255, 255, 0.158);
    font-family: 'Itim', cursive;
    text-align: center;
    
}
h1 {
    font-family: 'Barlow', sans-serif
}
header nav {
    color: #333
}
div {
    text-align: center;

}
a {
    color: whitesmoke;
}