html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    text-align: center;
    list-style-position: inside;
}

p {
    padding-top: 5px;
    padding-bottom: 5px; 
    margin: 10px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://scwcontent.affino.com/AcuCustom/Sitename/DAM/011/news-energy-jan18-seoul.jpg);
    background-color: yellow;
    background-size: cover;
    color:yellow;
}
q {
    font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: x-large; 
   font-style: italic;
}
img {
    border: 2px solid yellow;
    border-radius: 10px;
}
a {
    color: yellow;
}
/*padding-used to create space around an element's content, inside of any defined borders
  margins-

