<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit Conversion</title>
</head>

<body>
    <form action="" method="post">
        <input type="text" name="numbers" value=""/>
        <label for="numbers">Number of Units</label>
        <input type="text" name="unit type" value=""/>
        <label for="unit type">Type of Unit</label>
        <input type="text" name="desired units" value="">
        <label for="desired units">New units</label>
        <button type="submit">submit</button>

    </form>
    {{converted_units}}

</body>
</html>