{% load static %}

<link rel="stylesheet" href="{% static 'grocery_list/style.css' %}">


<body>
  <h1>Grocery List</h1>
  <h2>Incomplete grocery items</h2>
  <ul id='incomplete'>
    {% for item in incomplete_items %}
        <li>{{item.item}} 
         <form action="{% url 'grocerylistapp:complete' item.id %}" method="post">
            {% csrf_token %}
         <input type="submit" value="complete"><br>
        </form>
      <form action="{% url 'grocerylistapp:delete' item.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="delete"><br>
      </form>
    </li>
    {% endfor %}
  </ul>
  <form id='form' action="{% url 'grocerylistapp:add' %}" method="post">
    {% csrf_token %}
    <label for="item">Add New Grocery Item</label>
    <br>
    <input type="text" name="item" id="item">
    <br>
    <input type="submit" value="add">
  </form>

  <h2>Completed groceries items</h2>
  <ul id='complete'>
        {% for item in completed_items %}
    <li>{{ item.item }} <br>
        <form action="{% url 'grocerylistapp:incomplete' item.id %}" method="post">
        {% csrf_token %}
            <input type="submit" value="incomplete">
      </form>
      <form action="{% url 'grocerylistapp:delete' item.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="delete"> <br>
      </form>
    </li>
  {% endfor %}
  </ul>
</body>
</html>