<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="static/style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1 id="headers">The Legend of Zelda: Breath of the Wild <br> Compendium</h1>

        <div id="searchBox">
            <input v-model="searchTerm" placeholder="Bokoblin, apple, etc..."><p>&nbsp</p>
            <button @click='getGameInformation'>Search the Archives...</button>
        </div>

        <div id="searchResults">
            <ol v-for="data in responseData">
                <img :src="[[ data.image ]]" id="images">
                <b><p>Category Type:</p></b>
                <p>{{ data.category }}</p>
                <b><p>Description:</p></b>
                <p>{{ data.description }}</p>
                <b><p>Common Locations:</p></b>
                <p v-for="location in data.common_locations">{{ location }}</p>
                <b><p>Common Drops:</p></b>
                <p v-for="item_drops in data.drops">{{ item_drops }}</p>
            </ol>
        </div>
    </div>
    <!--Axios-->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <!--Vue-->
    <script src='https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js'></script>
    <script src='js/app.js'></script>
</body>
</html>