<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="static/style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <img id="images" src="static/korok_gif.GIF"></img>
        <h1 id="headers">The Legend of Zelda: Breath of the Wild Compendium</h1>

        <div id="searchBox">
            <p>I am looking for more info on...</p>
            <input v-model="searchTerm" placeholder="Bokoblin, Lynel guts, etc...">
            <button @click='getGameInformation'>Search the Archives...</button>
        </div>

        <div id="searchResults">
            <dl v-for="data in responseData">
                <b><dt>Name:</dt></b>
                <dd>{{ data.name }}</dd><br>
                <b><dt>Category Type:</dt></b>
                <dd>{{ data.category }}</dd><br>
                <b><dt>Description:</dt></b>
                <dd>{{ data.description }}</dd><br>
                <b><dt>Common Locations:</dt></b>
                <dd>{{ data.common_locations }}</dd><br>
                <b><dt>Common Drops:</dt></b>
                <dd>{{ data.drops }}</dd>
            </dl>
        </div>
    </div>
    <!--Axios-->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <!--Vue-->
    <script src='https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js'></script>
    <script src='js/app.js'></script>
</body>
</html>