{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chirper</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Serif:opsz,wght@8..144,500&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/main.css' %}"
</head>
<body>
    <header>
        <h1>Chirper</h1>
    </header>
    <div class="chirp">
        {% block chirp %}
        {% endblock chirp %}
    </div>
</body>
</html>