<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>ROT Cipher</title>
</head>
<body>

    <form action="" method="post">
        <label for="text">message: </label>
        <input type="text" id="text" name="text"><br>
        <label for="rot">rot value: </label>
        <input type="number" id="rot" name="rot"><br>
        <input type="submit" value="Submit">  
    </form>

    {% if encoded_text %}
    encoded message: {{ encoded_text }}
    {% endif %}
        
</body>
</html>