<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello from Flask</title>
    <!--<link rel="stylesheet" href="/static/style.css">-->
    <link rel="stylesheet" type="text/css" href="./static/style.css"/>
</head>
<body>
    <h1>You're home</h1>
    <p>Welcome to the home page</p>
    <p>The time is {{ current_time }} and the temperature is {{ temperature }}</p>
    {% if temperature < 50 %}
        <p>cold</p>
    {% elif temperature < 80 %}
        <p>warm</p>
    {% else %}
        <p>hot</p>
    {% endif %}
    <ul>
        {% for num in nums %}
        <li>{{num}}</li>
        {% endfor %}
    </ul>

    <form action="" method="post">
        <input type="text" name="text" placeholder="enter text here">
        <input type="submit" value="Submit">
    </form>

    <ul>
        {% for text in texts %}
        <li>{{ text }}</li>
        {% endfor %}
    </ul>

</body>
</html>