html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-image: url(https://i.pinimg.com/originals/50/71/12/507112417926d28ff9b2255b43530ea1.jpg);
    background-size:cover;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(95, 197, 86);
}

.biography {
    margin: 10px;
    padding: 1px;
    align-content: center;
}
