<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask-To Do List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='labgroup.css') }}">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
</head>

<body>
    <header>
        <!-- {{the_thing}} -->
    </header>
    <main>
        <h1>To Do List:</h1>
        <ul>
            {% for thing in the_thing %}
            <li>{{thing['text']}} ({{thing['priority']}})</li>
        </ul>
        {% endfor %}
        </div>
    </main>
</body>