{% extends 'base.html' %}

{% block content %}
<div class='form'>
    <h3>Chirp Away!</h3>
    <form action="{% url 'Chirps.chirp' %}" method="post">
        {% csrf_token %}
        <input type='text' name='post'>
        <input type='submit' value='Post'>
    </form>
</div>
<div class='content'>
    <div  class='posts'>
    {% for chirp in Chirps_list %}
        <h4><a href="{% url 'users:profile' chirp.chirper.username %}" >{{ chirp.chirper.username }}</a></h4>{{chirp.date_made}}
        <p>{{ chirp.chirp }}</p>
    {% endfor %}
    </div>
</div>

{% endblock content %}