<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X=UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- testing bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

<title>Pokedex Application</title>
</head>

<body>
    <h1>Pokedex Application with DRF and Vue</h1><br>
    {% if user.is_authenticated %}
    <h3>Welcome {{ user.username }}!</h3>
    <p><a href="{% url 'logout' %}">Logout</a><p>
    {% else %}
    <h3>Welcome, visitor!</h3>
    <p>You are not logged in. <a href="{% url 'login' %}">Login</a> <a href="{% url 'users:signup' %}">Sign Up</a></p>
    {% endif %}

    <div id='app'>
        
        <p>[[ message ]]</p>

        <div id="pokemon-list">
            <h3>All Pokemon Listed!</h3>
            <ul>
                <li v-for="pokemon in apiResponse" :key="pokemon.id">
                    <img :src="pokemon.image_front" :alt="pokemon.name">
                    <h3>[[ pokemon.name ]]</h3>
                    <h4>Pokemon ID #[[ pokemon.id ]]</h4>
                    {% comment %} apiResponse[0].id {% endcomment %}
                    <h4>Pokemon Types:</h4>
                    <ul>
                        {% comment %} pokemon types currently do not display, it could be because 2 results are returned or because i need to drop down a level {% endcomment %}
                        {% comment %} the pokemone.nested_types is the array, and item is the iterating variable within it, and we need to access the .type of each item  {% endcomment %}
                        {% comment %} apiResponse[0].nested_types[0].type {% endcomment %}
                        <li v-for="item in pokemon.nested_types" :key="item.id">[[ item.type ]]</li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
        let app = new Vue({
                el: '#app',
                delimiters: ['[[', ']]'],
                data: {
                  message: 'Pokedex Delimiters work',
                  user: [],
                  pokemon: [],
                  type:[],
                  apiResponse: [],

                },
                methods: {
                  logMessage: function () {
                    console.log(this);
                  },

                  loadPokemon: function() {
                    axios({
                        method: 'GET',
                        url: '/apis/pokemon/',
                    }).then(response => {
                        this.apiResponse = response.data
                        console.log(response.data)
                    })
                  }
                },
                mounted: function () {
                  this.loadPokemon();
                }
              });
    </script>

</body>