html{
    box-sizing: border-box;
    margin: 1em;
}
*, *:before, *:after {
    box-sizing: inherit;
}

img {
    display:block;
    max-width: 100%;
    /* padding: 1em;     */
}

main {
    text-align: justify;

}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(141, 88, 69, 0.733);
}


header {
    text-align: center;
    background-color: rgba(238, 232, 170, 0.089);
    font-family: Garamond, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif
}
h1,h2 {
    font-family: Garamond, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    text-align: center;
    
    font-size: 2em;
}
h1 {
    font-family: Garamond, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    text-align: center;
    /* padding: 1em; */
    font-size: 5em;
}

@media (min-width: 700px) {
    nav{
        display: flex;
        justify-content: center;
    }
    nav p {
        margin: 1em;
        font-size: 1.5em;
        
    }

    .flex-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
    }
    .flex-gallery div {
        width: 50%;
        padding: 1em;
        
        
        
    }

    @media (min-width: 1100px) {
        nav{
            display: flex;
            justify-content: center;
            
        }
        nav p {
            margin: 1em;
            font-size: 2em;
            
        }
    
        .flex-gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            flex-direction: row;
        }
        .flex-gallery div {
            width: 50%;
            padding: 1em;
            
            
        }
    }}