<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello from Flask</title>
    <!--<link rel="stylesheet" href="/static/style.css">-->
   
</head>
<body>   

    <form action="" method="post">
        <input type="number" name="input_distance" value="input_distance" id="input_distance"/>
        <label for="input_distance">What is the distance?</label><br>
        <input type="radio" name="units" id="inches" value="inches" checked>
        <label for="inches">Inches</label><br>
        <input type="radio" name="units" id="feet" value="feet">
        <label for="feet">Feet</label><br>
        <input type="radio" name="units" id="yards" value="yards">
        <label for="yards">Yards</label><br>
        <input type="radio" name="units" id="meters" value="meters">
        <label for="meters">Meters</label>
        <input type="radio" name="units" id="miles" value="miles">
        <label for="miles">Miles</label>
        <input type="radio" name="units" id="kilometers" value="kilometers">
        <label for="kilometers">Kilometers</label>
        <button type="submit">submit</button>
    </form>   
    
</body>
</html>
