{% load static %}

<link rel="stylesheet" href="{% static 'url_app/style.css'%}">

<div>
    <h3>Please enter in a URL to convert!</h3>
    <form action="{% url 'url_app:shortcode' %}" method="post">
        {% csrf_token %}
        <input type="text" name="long_url" id="long_url">
        <label for="long_url">URL Entry</label><br>
        <br>
        <input type="submit" value="URL Entry">
    </form>
</div>

<h3>The Short Code</h3>
<ul>
    {% for code in urls %}
        <li> 
        <a href="{% url "url_app:redirect" code.pk %}" target="_blank"> {{ code.short_url }}</a> <p>{{ code.long_url }}</p>
        </li>
        {% comment %} {{ code.long_url }} {% endcomment %}
    {% endfor %}
</ul><br>