<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- meta tags store general metadata -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- page title, the text that appears on a browser -->
        <title>Grocery List</title>
        <!-- import external css -->
        {% comment %} <link rel="stylesheet" type="text/css" href="css/index.css"/> {% endcomment %}
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    </head>
    <body>
        <header>
            <h1>The Grocery List</h1>
        </header>
        <form action='' method="post">
            <input type="text" name="item" id="item">
            <label for="item">Grocery Item></label><br>
 
    </body>
</html>