html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
h1 {
    color:rosybrown;
}
nav, a {
    color:black;
}
body {
    background-color: grey;
    
}
.skills {
    color: rosybrown;
}

.socialmedia {
    color: rosybrown;

}

/* nav {
    width: 100%;
    position: absolute;
    top: 0;
} */

