html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
h1 {
    color:rosybrown;
}
nav, a {
    color:rosybrown;
}
body {
    /* background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3rGCtMc7VxLsw6JE3sZFfGYCGcOGvAL05mA&usqp=CAU') ; */
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-8Vc0RTPNbdpYGMudsl7AHLnlCLAUPGMlkQ&usqp=CAU'); */
    background-color: grey;
    background-size: cover;
    /* background-repeat: no-repeat; */
    font-family: ;
    
}
.skills {
    color: rosybrown;
}

.socialmedia {
    color: rosybrown;

}

 .nav-bar {
    color:rosybrown;
    flex: auto;
   
} 

