{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Tinos&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>jacksite</title>
    
</head>
<body>
    <header>
        <h1><a href="{% url 'posts:home' %}">jacksite</a></h1>
        {% if user.is_authenticated %}
            <p>Hey, <a href="{% url 'users:profile' user.username %}">{{ user.username}}</a>!</p>
            <p><a href="{% url 'logout' %}">Logout</a></p>
            <p><a href="{% url 'posts:create' %}">Post Something</a></p>
        {% else %}
            <p><a href="{% url 'login' %}">Login</a></p>
            <p><a href="{% url 'users:register' %}">Create an Account</a></p>
        {% endif %}
    </header>
    <div class="main-container">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</htmml>