{% extends 'base.html' %}

{% block content %}
    <div class="block">
        <h3>{{ profile.username }}</h3>
        <h5><em>joined {{ profile.date_joined }}</em></h5>
        <br>
        <h3>Recent Posts:</h3>
        <div class="blogpost">
            {% for post in profile.posts.all %}
                <div class="post-entry">
                    <h2><a href="{% url 'posts:detail' post.id %}">{{ post.title }}</a></h2>
                    <h4><em>{{ post.author.username }}</em></h4>
                    <p>{{ post.body|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}