<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To-Do List</title>
    <link rel="stylesheet" href="css/site.css">
</head>
<body>
    <div id="app">
        <input v-model="todoText" placeholder="type next to-do here">
        <button @click="storeTodoItem">Add Todo</button>

        <h2>Incomplete To-Dos</h2>
            <ol>
                <li v-for="(todo, i) in todoArray" :key="todo.id">
                {{todo.text}}
                <button @click="deleteTodoItem(i)">Delete</button>
                <button @click="completeTodoItem(i)">Complete</button>
                </li>
            </ol>

        <h2>Complete To-Dos</h2>
            <ol>
                <li v-for="(todo, i) in completedTodoArray" :key="todo.id">
                    <s>{{todo.text}}</s>
                    <button @click="deleteCompletedTodo(i)">Delete</button>
                    <button @click="redoTodoItem(i)">Re-Complete</button>
                </li>
            </ol>
    </div>
    <script src="https://unpkg.com/vue@2"></script>
    <script src="js/site.js"></script>
</body>
</html>