<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
</head>
<body>
    <h1>URL Shortener</h1>
    <form action="{% url 'urlshortener:returnshorturl' %}" method="post">
        {% csrf_token %}
        <label for="long_url">Original URL</label>
        <input type="text" name="url" id="url" placeholder"URL">
        <input type="submit" value="Submit" />
    </form>
    
    <h3> Shortened URL </h3>
    {% for url in urls %}
    {% comment %} {{url.url}} {% endcomment %}
    <p>New url: <a target='_blank' href="http://localhost:8000/urlshortener/{{ url.new_url }}">{{ url.new_url }}</a></p>
    <br>
    {% endfor %}
</body>
</html>