<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jose's Food Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Welcome to Jose's Food Blog!</h1>
    <h2><img class="'background-pic" src="https://images.unsplash.com/photo-1532634922-8fe0b757fb13?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2344&q=80" alt="Picture of food"></h2>
    <h3>Portland is now known as the foodie capital of the US! Below are some of my reccomendations to where you should head to next! </h3>
    <h4>These locations are a drop in the bucket to what Portland has to offer.</h4>
            <p><a href="http://www.pdxmonthly.com/eat-and-drink/2022/03/portland-food-news-march-30">Yui,</a> a Thai restuarant located in Northeast.</p>
            <img src="https://images.squarespace-cdn.com/content/v1/5f62febb6b7e9468adeb8e90/b0061687-408a-4a89-8f7d-0f73504b5334/B5AAB353-E95D-4D3A-BE1B-10094C7E4209.jpeg?format=1000w" alt="">
            <p><a href="https://www.pdxmonthly.com/bars/paydirt">Paydirt,</a> a bar located in a restaurant complex along with a great space for large groups.</p> 
            <img src="https://images.squarespace-cdn.com/content/v1/59bcb6a5197aeab86bc42906/1657148109677-FQIXHUA7UA1E4UJMXWJJ/Paydirt_December2021_IMG_0463_JasonQuigley.jpg?format=2500w" alt="">
            <p><a href="https://pdx.eater.com/2020/1/2/21046938/someday-first-look-bar">Someday, </a>a cocktail lounge inside an alleyway food pod.</p> 
            <img src="https://cdn.vox-cdn.com/thumbor/RbMj_6Rl3HnMHSpoRjTv5hg_DxQ=/0x0:2000x1333/2820x1586/filters:focal(840x507:1160x827):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/66013861/Dina_Avila_Someday_DSC8159_.0.jpg" alt="">            
            <p><a href="https://www.slightlypretentious.co/deadshot-pdx/">Deadshot,</a> a unique cocktail bar with great food.</p> 
            <img src="https://static.wixstatic.com/media/193459_716ebb0b56ce485ab3edb00a1001dab7~mv2_d_4873_3258_s_4_2.jpg/v1/fill/w_2716,h_1688,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/193459_716ebb0b56ce485ab3edb00a1001dab7~mv2_d_4873_3258_s_4_2.jpg" alt="">
            <footer>Sources from firsthand experience</footer>
    
  
</body>
</html>      