<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Code Cipher</title>
</head>
<body>
    <header>
        <h1>Create-A-Code</h1>
    </header>
    <main>
        <h3>
            Instructions:
        </h3>
        <ol>
            <li>Enter in your message to translated.</li>
            <li>Enter in the number of characters you would like to rotate through the alphabet.</li>
            <li>Submit and see your code.</li>
        </ol>
    </main>
    <form action="" method="post">
        <input type="text" name="text" placeholder="enter code here"><br>
        <input type="number" name="number" placeholder="Enter rotatinal number"><br>
        <input type="submit" value="Submit">
    </form>
    <p>
        Your coded message is: {{final}}
    </p>
</body>
</html>