{% extends 'base.html' %}

{% block content %}

    
    <div class="post-entry">
        <h2><a href="">{{ post.title }}</a></h2>
        <h3><a href="">{{ post.author.username }}</a></h3>
        <h4>Originally posted on <a href="">{{ post.created_date }}</a></h4>
        <h4>Last edited on <a href="">{{ post.edited_date }}</a></h4>
        <p>{{ post.content|linebreaksbr }}</p>
        <h3><a href="{% url 'posts:edit' post.pk %}">Edit Post</a></h3>
        <h3><a href="{% url 'posts:delete' post.pk%}">Delete Post</a></h3>
    </div>


{% endblock content %}