html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/*
create mobile version
*/
img {
    display: block;
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
body {
    font-family: sans-serif;
    text-align: center;
    /*
    list-style-position: inside;
    */
}
header {
    
    text-align: center;
    background-color: grey;
    color: black;
}
nav, a, p {
    color: black;
    display: inline;
    margin-left: 5px;
    margin-right: 10px;
    
}
footer {
    background-color: grey;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
}
header, main, footer {
    padding: 1em;
}

h2, h3 {
    font-family: serif;
}
/*media q-(min-width)tablet layout-(flexbox)*/
@media (min-width: 750px) {
    nav {
        display: flex;
        justify-content: center;
    }

    nav a {
        margin: 1em;
    }

    .flex-gallery {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1em;
    }

    .flex-gallery div {
        /*
        width: 50%;
        */
        padding: 1em;
    }
}
/*media q-(min-width)Desktop layout-(flexbox)*/
@media (min-width: 1100px) {
    header .desktop-fixed-width { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    header h2 {
        margin-bottom: .333em;
    }

    header h3 {
        margin-top: 0;
    }

    .desktop-fixed-width {
        max-width: 1200px;
        margin: 0 auto;
        padding-left: 4em;
        padding-right: 4em;
    }

    .flex-gallery div {
        padding: 1em;
    }

}