<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yo Momma</title>
    <!-- Add your styles here! -->
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik+Distressed">

</head>

<body>
    <div id="app">
        <h1>{{ message }}</h1>
        <!-- <button @click="getJoke">Get JOTD</button><br>
        <br> -->

        <ul>
            <li v-for="item in jokesList">{{item.joke}}</li>
        </ul>
        search by:<input type="text" v-model="keyword" placeholder="keyword">
        <button @click="searchJokes">search</button><br>

        <ul>
            <li v-for="result in results">{{result}}</li>
        </ul>


    </div>

    <!-- Include Vue from a CDN of your choice, I chose unpkg -->
    <script src="https://unpkg.com/vue@2"></script>
    <!-- Include your code here... -->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="js/site.js"></script>

</body>

</html>