
.main_field{
    background-color: rgb(202, 226, 246);
    margin: auto;
    max-width: 500px;
    padding: 1em;
    height: 100vh;
    text-align: center;
}

.switch{
    margin-bottom: 90%;
    font-size: 16px;
}

@media(min-width: 700px) {
body{
    background-image: url(https://images.pexels.com/photos/8511355/pexels-photo-8511355.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.switch{
    font-size: 20px;
}
}

@media(min-width: 1400) {
.main_field{
    margin-top: auto;
    margin-bottom: auto;
}

}