<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"/>
    <title>Grounder</title>
</head>
<body>
    <div id = 'app'>
        <p>Working on it</p>

        <input type="text" v-model="searchText">

        <ul>
            <li v-for="drink in data">
                <!-- <img :src= 'drink.strDrinkThumb'> -->
                {{ drink.strDrink }}
                <ol v-if="measurements.length > 0">
                    <li v-for="(ingredient, i) in ingredients">
                        {{ ingredient }} -- {{ measurements[i] }}
                    </li>
                </ol>
                {{ drink.strInstructions }}
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/app.js"></script>
    
</body>
</html>