<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery List</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    {% comment %} <link rel="stylesheet" href="lab02style.css"> {% endcomment %}
</head>
<body>
    <h1>Grocery List</h1>
    <form action="{% url 'grocery_list:index' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" />
    </form>
    <h3>Incomplete Items</h3>
    <ul>
        {% for item in grocery_list %}
            {% if item.complete == 0 %}
                <li>{{item}}
                    <form action="{% url 'grocery_list:delete' item.id %}" method="post">{% csrf_token %}
                        <input type="submit" name="delete" value="Delete"/>
                    </form>
                    <form action="{% url 'grocery_list:complete' item.id %}" method="post">{% csrf_token %}
                        <input type="submit" name="completed" value="Completed"/>
                    </form>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <h3>Completed Items</h3>
    <ul>
        {% for item in grocery_list %}
            {% if item.complete == 1 %}
                <li>{{item}}
                    <p>completed on {{ item.complete_date }}</p>
                    <form action="{% url 'grocery_list:delete' item.id %}" method="post">{% csrf_token %}
                        <input type="submit" name="delete" value="Delete"/>
                    </form>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</html>