<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Favorite Quotes!</title>
</head>
<body>
  <div id="response"></div>
  <div id="app">
  <h2>Welcome to Favorite Quotes!</h2>
    <h3>Search for your favorite quotes here:</h3>
    <key-word-search @component-search="keywordSearch"></key-word-search>
    <!-- <button v-on:click="keywordSearch">Keyword</button> -->
    <input type="text" v-model="newSearch" placeholder="Search by tag or author">
    <button v-on:click="authorSearch">Author</button>
    <button v-on:click="tagSearch">Tag</button>
    <ol>
      <li v-for="quote in quotes.quotes">{{quote.body}}</li>
    </ol>
    <button v-on:click="previousPage">Previous Page</button>
    <button v-on:click="nextPage">Next Page</button>
    </div>
    <!-- Vue -->
    <script src="https://unpkg.com/vue@2"></script>
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="app.js"></script>
</body>
</html>