{% comment %} {% if grocery_item_list %} {% endcomment %}
<ul>
    {% for grocery_item in grocery_item_list %}
        <li>{{grocery_item.grocery_item_text}}</li>
        <form action="{% url 'grocery_list_app:complete' grocery_item.id %}" >
            {% csrf_token %}
            <input type="submit" value="Complete">
        </form>
    {% endfor %}
</ul>
<form action="{% url 'grocery_list_app:add' %}" method="post">
    {% csrf_token %}
    <input type="text" name="groceryitem" id="groceryitem">
    <label for="groceryitem">Grocery Item</label>
    <input type="submit" value="Add Grocery Item">
</form>

