<form action="{% url 'grocery_list_app:add' %}" method="post">
    {% csrf_token %}
    <input type="text" name="groceryitem" id="groceryitem">
    <label for="groceryitem"></label>
    <input type="submit" value="Add Grocery Item">
</form>
<h2>Completed Items</h2>
<ul>
    {% for grocery_item in grocery_item_list %}
    {% if  grocery_item.completed %}
        <li>{{grocery_item.grocery_item_text}}</li>
        <form action="{% url 'grocery_list_app:incomplete' grocery_item.id %}" >
            {% csrf_token %}
            <input type="submit" value="InComplete">
        </form>
        <form action="{% url 'grocery_list_app:delete' grocery_item.id %}" >
            {% csrf_token %}
            <input type="submit" value="Delete">
        </form>
    {% endif %}
    {% endfor %}
</ul>
<h2>InComplete Items</h2>
<ul>
    {% for grocery_item in grocery_item_list %}
    {% if not grocery_item.completed %}
        <li>{{grocery_item.grocery_item_text}}</li>
        <form action="{% url 'grocery_list_app:complete' grocery_item.id %}" >
            {% csrf_token %}
            <input type="submit" value="Complete">
        </form>
        <form action="{% url 'grocery_list_app:delete' grocery_item.id %}" >
            {% csrf_token %}
            <input type="submit" value="Delete">
        </form>
    {% endif %}
    {% endfor %}
</ul>



