<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groceries</title>
</head>
<body>
    <h1>Grocery List</h1>

    <form action="{% url 'grocery_list:add'%}" method="POST">
        {% csrf_token %}
        <input type="text" name"text_description" id="text_description">
        <label for="text_description">New item</label>
        <input type="submit" value="add">
    </form>

    {% for items in not_complete %}

        <li> {{ item.text_description }}
            <form action="{% url 'Grocery_List:complete' item.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="delete">
                <form action="{% url 'Grocery_List:complete' item.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="delete">
                </form>
            </form>


        </li>

    {% endfor %}
    <ul>
        {% for items in completed_items %}

        <li> {{ item.text_description }}
            <form action="{% url 'Grocery_List:complete' item.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Incomplete">
            </form>

            
        </li>

    {% endfor %} </ul>
    
</body>
</html>