{% extends 'base.html' %}

{% block content %}

    {% for chirp in chirp_list %}
      <article class="media">
        <div class="media-content">
          <div class="content">
            <h2><a href="{% url 'chirp:detail' chirp.id %}">{{ chirp.title }}</a></h2>
            <p>
            <strong>{{ chirp.author.username }}</strong>
            <br>
            {{ chirp.body|linebreaksbr }}
            </p>
          </div>
        </div>
        {% if user == chirp.author %}
          <nav class="level is-mobile">
              <div class="level-left">
                  <a class="button is-light" href="{% url 'chirp:edit_post' chirp.pk %}">
                      Edit
                  </a>
              </div>
          </nav>
          <div class="media-right">
              <a class="button is-danger is-light" href="{% url 'chirp:delete_post' chirp.pk %}">
                  Delete
              </a>
          </div>
        {% endif %}
      </article>
    {% endfor %}

{% endblock content %}
